<!DOCTYPE html>
<html>
  <head>
    <title>Reference App</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header>
      <div class="navbar navbar-fixed">
        <div class="navbar-inner">
          <div class="container">
            <a href="javascript:void(0)" class="brand">Reference App</a>
            <div class="nav-collapse">
              {{view App.MenuView}}
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container master-container">
      <div class="page-header">
        <h1>Contacts</h1>
      </div>

      <script type="text/x-handlebars">
        {{view App.ListContactsView}}
      </script>
    </div>

    <footer class="container">
      <p>Copyright 2012</p>
    </footer>

    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do -%>
      $(function () {
        App.contactsController.loadAll(<%= @contacts.to_json.html_safe %>);
      });
    <%- end -%>
  </body>
</html>
