<!DOCTYPE html>
<html>
  <head>
    <title>Reference App</title>
  </head>
  <body>
    <h1>Contacts</h1>

    <script type="text/x-handlebars">
      {{ view App.ListContactsView }}
    </script>

    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do -%>
      $(function () {
        App.contactsController.loadAll(<%= @contacts.to_json.html_safe %>);
      });
    <%- end -%>
  </body>
</html>
