<p>
  <a href="#" class="btn btn-success" {{action "showNew"}}>
    <i class="icon-white icon-plus"></i>
    New Contact
  </a>
  <a href="#" class="btn" {{action "refreshListing"}}>
    <i class="icon icon-refresh"></i>
    Refresh List
  </a>
</p>

<br />

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width: 100px;">ID</td>
      <th>Name</td>
    </tr>
  </thead>

  <tbody>
    {{#each contacts}}
      {{#if this.id}}
        {{view App.ShowContactView contactBinding="this"}}
      {{/if}}
    {{/each}}

    {{#if isNewVisible}}
      <tr>
        <td>*</td>
        <td>{{view App.NewContactView}}</td>
      </tr>
    {{/if}}
  </tbody>
</table>
